@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MusicShop.com!</h1>
    <p>Browse our selections of music by clicking the 'Songs' tab above.</p>

    <img src="~/img/music shop.jpg" alt="Music Shop" style="width: 500px; height: auto;" />
</div>
