@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Last revised: December 3rd, 2023.</p>
<p>We will not sell your personal information.</p>

<h1>Contact Us</h1>
<p>If you have any questions, You can contact us:</p>
<p>&#x2022; By Email: admin@musicshop.com</p>
<p>&#x2022; By Phone: +1 (701)111-2222</p>